*{
    box-sizing: border-box;
}

/* ATENCIÓN, ACÁ SE VA A IMPORTAR UN "FONT" (de tipo "icono") */

@font-face {
    font-family: 'icomoon';
    src:  url('icomoon/fonts/icomoon.eot?eek5zr');
    src:  url('icomoon/fonts/icomoon.eot?eek5zr#iefix') format('embedded-opentype'),
      url('icomoon/fonts/icomoon.ttf?eek5zr') format('truetype'),
      url('icomoon/fonts/icomoon.woff?eek5zr') format('woff'),
      url('icomoon/fonts/icomoon.svg?eek5zr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-menu:before {
    content: "\e900";
  }

  /* ATENCIÓN, FUENTE DE ICONO IMPORTADO */

  /* Ahora, vamos a crear un menu de hamburguesa a partir de la anterior fuente de icono importada; esto se hará por medio de un selector que sería una extensión de la clase ya existente, la de la fuente de icono justamente, ".icon-menu". */

  .burguer-button{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.8);
      display: none;
      line-height: 40px;
      text-align: center;
      position: fixed;
      z-index: 20;
      left: 5px;
      top: 5px;
      color: white;
  }

body {
    font-family: 'Source Sans Pro', sans-serif, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Raleway', serif;
    font-weight: normal;
}

h1{
    font-size: 2.32rem;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong{
    color: #025fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
  }

.hero{
    height: 300px;
    background-color: #1b2127;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* En edición */

@font-face{
    src: url(assets/fonts/moon_get/moon_get-Heavy.ttf);
    font-family: 'Moon';

    /* Aquí se pasan los parametros "src: url()" & "font-family" luego de descargado y descompromida la tipografia que no posee "GoogleFonts",... para poder ser posteriomente usada.   */
}

.presentation{
    color: rgb(255, 255, 255, 0.9);
    font-family: 'Moon';
}

.presentation strong{
    color: rgb(229,79,50, .95);
}

.presentation-responsive{
    display: none;
}

/* Fin de edición */

.hero-image{
    object-fit: cover;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 30px -5px black;
    flex-wrap: wrap;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 16px;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details{
    width: 50%;
}

.project-imageContainer{
    width: 50%;
    object-fit: cover;
}

.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

ol,
ul{
    margin: 0px 15px 0px 0px;
    padding: 0;
    list-style: none;
    font-family: 'Raleway', serif;
    font-size: 0.95rem;
}

.link:active{
    transform: scale(.95);
    border: 2px solid gray;
    box-shadow: 2px 2px 10px -5px gray inset, -1px -1px 10px -5px gray inset;
}

.link:hover{
    color: gray;
}

figure{
    margin: 0;
}

.header figure{
    margin: 5px 10px 5px 15px;
}

.logo{
    text-align: center;
}

.header a{
    color: white;
    text-decoration: none;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;
    flex-shrink: 0;
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

@font-face{
    src: url(assets/fonts/tesla/TESLA.ttf);
    font-family: 'tesla';
}

.experience-list-title,
.portfolio-title{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'tesla';
}

.experience-list{
    display: flex;
    flex-wrap: wrap;
}

.experience{

    border: 1px solid #E5E7EA;
    margin: 1%;
    width: 48%;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}

.experience:hover{
    box-shadow: 1px 1px 12px -6px black, -1px -1px 12px -6px black;
    border: none;
}

.experience img{
    width: 490px;
    height: 200px;
    object-fit: cover;
    object-position: 0px -15px;
}

.experience-detail{
    margin: 20px 40px;
    background-color: rgb(229, 231, 234, .2);
    margin-top: -40px;
    position: relative;
    text-align: center;
    border: 1px solid #E5E7EA;
    padding: 1px 20px 15px 20px;
}

.experience-title{
    font-family: 'Raleway', serif;
}

.experience-description{
    text-align: left;
}

.experience-url{
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.experience-url:hover{
    background-color: rgb(229, 231, 234, .6);
}
.experience-url:active{
    box-shadow: 2px 2px 10px -5px #111 inset, -1px -1px 10px -5px #111 inset;
    border: 2px solid #056FFF;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.social-link.twitter{
    background-image: url('./images/twitter.svg');
    background-size: 50px 50px;
}

.social-link.twitter:active{
    transform: scale(.90);
}

.social-link.facebook{
    background-image: url('./images/facebook.svg');
    background-size: 50px 50px;
}

.social-link.facebook:hover{
    background-color: #35548F;
    border-radius: 9px;
}

.social-link.facebook:active{
    transform: scale(.95);
}

.social-link.github{
    background-image: url('./images/github.svg');
    background-size: 50px 50px;
}

.social-link.github:hover{
    background-color: #000000;
    border-radius: 50px;
}

.social-link.github:active{
    transform: scale(.95);
}

.social-link.instagram{
    background-image: url('./images/instagram.svg');
    background-size: 50px 50px;
}

.social-link.instagram:hover{
    background-color: #F66041;
    border-radius: 16px;
}

.social-link.instagram:active{
    transform: scale(.95);
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif, Arial;
}

.form-email input{
    font-family: 'Raleway', serif;
    font-size: 0.7rem;
    border-color: gray;
    border-style: solid;
    padding: 10px 20px 10px 25px;
}

.form-text{
    background-image: url('./images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-text:hover{
    background-color: #f5f5f5;
}

.form-box{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    width: 100px;
    border-radius: 5px;
}

.form-box:active{
    transform: scale(.95);
    box-shadow: 2px 2px 10px -5px #111 inset, -1px -1px 10px -5px #111 inset;
}

.form-box:hover{
    background-color: #0567FF;
}

.container{
    max-width: 1020px; /* ampliación */
    flex: 1;
    margin: 0 auto; /* centrado */
    height: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
}

.html-video{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1024px){
    .portfolio-title{
        margin-left: 3px;
    }  
    
    .project{
        display: block;
    }

    .project-details{
        width: auto;
    }

    .project-imageContainer{
        width: auto;
    }

    .presentation-responsive{
        color: rgb(0, 0, 0, .7);
        font-family: 'Moon';
        display: block;
    }
    
    .presentation-responsive strong{
        color: rgb(229,79,50, .95);
    }

    .presentation{
        display: none;
    }
    
    .badge-base LI-profile-badge{
        display: none;
    }

    .hero-image{
        object-position: 0px -80px;
    }

    .container{
        padding: 0 .5em;
    }

    .hero{
        height: auto;
    }

    h1{
        font-size: 2em;
    }

    .hero-image{
        position: absolute;
        z-index: 1;
        max-width: 100%;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 100%;
    }

    .hero{
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    h1 {
        position: relative;
        z-index: 10;
    }

    .experience img{
        object-position: -5px -15px;
    }
}

@media screen and (max-width: 767px){
    
    .burguer-button{
        display: block;
    }

    .hero-image{
        object-position: 0px -45px;
    }

    .experience img{
        object-position: 0px -15px;
    }

    .header{
        padding-top: 4px;
        display: block;
        height: auto;
        background-color: #000000;
    }

    .header ol{
        display: block;
    }

    .header ol li{
        height: 50px;
    }

    .header a{
        justify-content: center;
        height: 40px;
        font-size: 2em;
        margin-bottom: .5em;
    }

    .header a:hover{
        text-decoration: underline;
    }

    ol, ul{
        margin: 0;
    }

    .header figure{
        margin: 0;
    }

    .menu {
        position: fixed;
        background: rgb(5, 111, 255, 0.9);
        z-index: 15;
        top: 0;
        left: -100vw;
        width: 100vw;
        /* height: 100vh; */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .menu.is-active {
        left: 0;
    }

    .project-details{
        font-size: 16px;
    }

    .project-title{
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .project-course{
        font-size: .7em;
    }

    .project-date{
    font-size: 1em;
    }

    .project-url{
    font-size: 1em;
    }

    /* .project-description{
        font-size: .8em;
    } */

    .project-course,
    .project-date,
    .project-url {
        margin: .3em 0;
    }

    .experience{
        width: 98%;
    }

    .experience img{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .portfolio-title{
        margin-left: 10px;
    } 
    
    .logoRescata{
        height: 45px;
    }
    
    .hero-image{
        object-position: 0px -45px;
    }

    .experience-description
    {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }

    .project-description{
        font-size: 13.5px;
        font-family: 'Montserrat', sans-serif;
    }

    .experience-detail{
        margin: -40px 10px 10px 10px;
    }

    .experience-detail{
        margin: -2.5em 0.625em 0.625em;
        padding: 1em;
    }

    .contact{
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }

    .form-box{
        margin: 1em auto;
    }

    .form-email h3{
        margin-top: 0;
    }

     .footer{
         display: block;
         text-align: center;
     }

     .footer{
         border: 0.1px solid transparent;
     }

     h1{

        font-size: 1.5em;
        position: relative;
        top: 0.5em;
        right: 0.45em;
     }

     .portfolio {
        padding: 10px;
    }
}

@media screen and (max-width: 320px){
    .portfolio-title{
        margin-left: 15px;
    }

    .hero-image{
        object-position: -65px -50px;
    }

    h1{
        font-size: 1.15em;
        top: 1.2em;
        right: .9em;
    }

    .portfolio {
        padding: 5px;
    }
}
